<h2 class="h2-color">Administración</h2>
<div class="card-container">
  <mat-card class="example-card">
    <mat-card-header>  
      <div mat-card-avatar class="icon">
        <i class="fa-solid fa-layer-group fa-lg" style="color: #f31559;"></i>
      </div>        
      <mat-card-title class="title">Categorías</mat-card-title>
    </mat-card-header>
    <hr class="card-separator">
    <mat-card-content class="content">
      <p class="p-color">
        Defina una categoría para agrupar los productos del negocio
      </p>
    </mat-card-content>
    <mat-card-actions align="end" class="actions">
      <button mat-flat-button color="primary" class="btn">Explorar</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>  
      <div mat-card-avatar class="icon">
        <i class="fa-solid fa-box-open fa-lg" style="color: #f31559;"></i>
      </div>        
      <mat-card-title class="title">Productos</mat-card-title>
    </mat-card-header>
    <hr class="card-separator">
    <mat-card-content class="content">
      <p class="p-color">
        Gestione los diferentes productos del negocio
      </p>
    </mat-card-content>
    <mat-card-actions align="end" class="actions">
      <button mat-flat-button color="primary" class="btn">Explorar</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>  
      <div mat-card-avatar class="icon">
        <i class="fa-solid fa-user-tie fa-lg" style="color: #f31559;"></i>
      </div>        
      <mat-card-title class="title">Roles</mat-card-title>
    </mat-card-header>
    <hr class="card-separator">
    <mat-card-content class="content">
      <p class="p-color">
        Administre los roles de la aplicación
      </p>
    </mat-card-content>
    <mat-card-actions align="end" class="actions">
      <button mat-flat-button color="primary" class="btn">Explorar</button>
    </mat-card-actions>
  </mat-card>
</div>
