<h2 class="text-color">Dashboard</h2>

<div class="card-container">
    <div class="card">
        <div class="card-title">
            <p>Total de ventas</p>
        </div>
        <div class="card-body">
            <p>$123,45</p>
        </div>    
        <hr class="card-separator">
        <div class="card-filter">
            <p class="text">Este mes</p>
            <i class="fa-solid fa-angle-down icon"></i>
        </div>
    </div>
    <div class="card">
        <div class="card-title">
            <p>Total de ganancias</p>
        </div>
        <div class="card-body">
            <p>$48,50</p>
        </div> 
        <hr class="card-separator">
        <div class="card-filter">
            <p class="text">Este mes</p>
            <i class="fa-solid fa-angle-down icon"></i>
        </div>
    </div>
    <div class="card">
        <div class="card-title">
            <p>Producto Top</p>
        </div>
        <div class="card-body">
            <p>Ruffles</p>
        </div> 
        <hr class="card-separator">
        <div class="card-filter">
            <p class="text">Este mes</p>
            <i class="fa-solid fa-angle-down icon"></i>
        </div>
    </div>
</div>

<div class="ventas-card-container">

    <!-- Card donde se muestra listado de ventas -->
    <div class="card-listado-ventas">
        <div class="listado-venta-filter">
            <p class="text">Últimas ventas realizadas</p>
            <i class="fa-solid fa-angle-down icon"></i>
        </div>
        <hr class="ventas-separator">
        <div class="tabla-listado-venta">
            <table class="table">
                <tr>
                    <td class="column icon">
                        <i class="fa-solid fa-bag-shopping"></i>                        
                    </td>
                    <td class="column descripcion">
                        Cocacola 250 ml
                    </td>
                    <td class="column precio">
                        $0,50
                    </td>
                </tr>
                <tr>
                    <td class="column icon">
                        <i class="fa-solid fa-bag-shopping"></i>                        
                    </td>
                    <td class="column descripcion">
                        Ruffles 30g
                    </td>
                    <td class="column precio">
                        $1,50
                    </td>
                </tr>
                <tr>
                    <td class="column icon">
                        <i class="fa-solid fa-bag-shopping"></i>                        
                    </td>
                    <td class="column descripcion">
                        Papas fritas artesanales
                    </td>
                    <td class="column precio">
                        $1,20
                    </td>
                </tr>
                <tr>
                    <td class="column icon">
                        <i class="fa-solid fa-bag-shopping"></i>                        
                    </td>
                    <td class="column descripcion">
                        Agua Dasani 1L
                    </td>
                    <td class="column precio">
                        $0,75
                    </td>
                </tr>
                <tr>
                    <td class="column icon">
                        <i class="fa-solid fa-bag-shopping"></i>                        
                    </td>
                    <td class="column descripcion">
                        Cocacola 250 ml
                    </td>
                    <td class="column precio">
                        $0,50
                    </td>
                </tr>
                <tr>
                    <td class="column icon">
                        <i class="fa-solid fa-bag-shopping"></i>                        
                    </td>
                    <td class="column descripcion">
                        Ruffles 30g
                    </td>
                    <td class="column precio">
                        $1,50
                    </td>
                </tr>
                <tr>
                    <td class="column icon">
                        <i class="fa-solid fa-bag-shopping"></i>                        
                    </td>
                    <td class="column descripcion">
                        Papas fritas artesanales
                    </td>
                    <td class="column precio">
                        $1,20
                    </td>
                </tr>
                <tr>
                    <td class="column icon">
                        <i class="fa-solid fa-bag-shopping"></i>                        
                    </td>
                    <td class="column descripcion">
                        Agua Dasani 1L
                    </td>
                    <td class="column precio">
                        $0,75
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <!-- Card donde se muestra grafico de ventas -->
    <div class="card-indicador-ventas">
        <div class="indicador-ventas-filter">
            <p class="text">Análisis de ventas</p>
            <div class="button-toggle-group">
                <button class="button-toggle">6 meses</button>
                <button class="button-toggle">20 dias</button>
                <button class="button-toggle">7 dias</button>
            </div>
        </div>

        <hr class="ventas-separator">

    </div>
    
</div>